.main-container {
  margin-block: 100px;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-container-text {
  text-align: center;
}
.hero-container-heading {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
  text-align: center;
}
.hero {
  width: 300px;
}
@media screen and (min-width: 768px) {
  .hero-container-heading {
    font-size: 32px;
    line-height: 40px;
  }
  .hero-container {
    flex-direction: row;
    gap: 69px;
  }
  .hero {
    position: relative;
    left: -44px;
    width: 364px;
  }
  .hero-container-text {
    text-align: left;
  }
}
@media screen and (min-width: 1110px) {
  .hero-container-heading {
    font-size: 40px;
    line-height: 50px;
  }
  .hero-container {
    gap: 125px;
  }
  .hero {
    position: initial;
    width: 445px;
  }
}
