@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap");
body {
  background-color: #fff7f0;
}
.headingL {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 71px;
}
.headingM {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}
.headingS {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}
.bodyM {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #7a746e;
}
@media screen and (min-width: 768px) {
  .bodyM {
    font-size: 18px;
    line-height: 28px;
  }
}
body {
  padding: 15px;
  max-width: 1110px;
  margin-inline: auto;
}
